body {
  display: flex;
  background-color: #1b1f23;
  color: #ffffff;
  font-family: "futura-pt", sans-serif;
  font-style: normal;
}

/* aside layout */
aside {
  margin-top: 30vh;
  margin-left: 3vw;
  max-width: 20vh;

  & section {
    margin-bottom: 7.5vh;
  }

  & h1 {
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  & sub {
    margin-top:;
    font-weight: 400;
    font-size: 1.5rem;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }

  & a:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  & #profile-picture {
    max-width: 7.5rem;
  }

  & .info-icons {
    max-width: 1rem;
  }

  & .social-icon {
    max-width: 1rem;
    margin-left: 2rem;
  }
}

/* main layout*/
main {
  margin-top: 40vh;
  margin-left: 10vw;

  & section {
    margin-bottom: 10vh;
    & article {
      margin-top: 5vh;
    }
    
    & article:after {
      content: "";
      display: block;
      width: 5rem;
      height: 2px;
      background-color: #fff;
    }
  }
}

footer {
  text-align: right;
}