body {
  display: flex;
  margin: 0;
  background-color: #1b1f23;
  color: #ffffff;
  font-family: "futura-pt", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
  height: 100vh;
  overflow: hidden;
}
/* Sidebar layout */
#sidebar {
  width: 15vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem;
  background-color: #1b1f23;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar li {
  margin-bottom: 2rem;
}

#sidebar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bold;
}

#sidebar a:hover {
  text-decoration: underline;
}

/* Main layout */
main {
  margin-left: 15vw; /* leaves space for the sidebar */
  height: 100vh;
  width: 85vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

main > section {
  height: 100vh;
  scroll-snap-align: start;
  padding: 4rem 2rem;
  box-sizing: border-box;
  overflow-y: auto; /* just in case section content overflows */
}

footer {
  text-align: right;
  padding: 1rem 2rem;
  font-size: 0.9rem;
}